html,
body {
  overflow-x: hidden;
  position: relative;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Nunito';
}

.navbar {
  padding: 4px;
}

.navbar-nav li a {
  color: white;
  padding: 5px;
  font-size: 13px;
  text-decoration: none;
}

.navbar-nav li a:hover {
  color: grey;
}

.navbar-brand {
  padding-left: 20px;
  font-size: 25px;
}

.navbar-collapse {
  text-align: left;
}

.navbar-collapse li {
  padding: 13px;
  font-size: 12px;
  font-weight: 100;
}

.expense {
  width: 40%;
  margin: 0 auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
  border-color: grey;
}

.dropdown li a {
  color: black;
}

.error {
  color: red;
  font-size:  12px;
  margin: 5px
}

.hero-text h3{
  font-family: Nunito;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.975rem;
  letter-spacing: 0rem;
  text-align: left;
  background: linear-gradient(94.25deg, #5cb102 5.78%, #f58634 83.23%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hero-text h5{
  font-family: Nunito;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 100;
  line-height: 1.7rem;
  letter-spacing: 0rem;
  text-align: left;
  /* background: linear-gradient(94.25deg, #5cb102 5.78%, #f58634 83.23%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
}

@media(max-width: 767px){
  .expense { 
      width: 100%;
  }
}