html,
body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Nunito';
}

.navbar-nav li a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.navbar-nav li a:hover {
  color: grey;
}

.navbar-collapse {
  text-align: left;
}

.navbar-collapse li {
  padding: 13px;
  font-size: 12px;
  font-weight: 100;
}

.expense {
  width: 40%;
  margin: 0 auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
  border-color: grey;
}

.dropdown li a {
  color: black;
}

.error {
  color: red;
  font-size:  12px;
  margin: 5px
}

.hero-text h3{
  font-family: Nunito;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.975rem;
  letter-spacing: 0rem;
  text-align: left;
  background: linear-gradient(94.25deg, #5cb102 5.78%, #f58634 83.23%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hero-text h5{
  font-family: Nunito;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 100;
  line-height: 1.7rem;
  letter-spacing: 0rem;
  text-align: left;
}

.btn-toggle {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 11px;
  color: #FFFFFF;
  padding: 1px;
  width: 20px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.btn-toggle:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn-toggle:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.logo {
  width: 20%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;

}

.card{
  height: 280px

}

.card-footer {
  color:rgb(213, 126, 126)
}


@media(max-width: 767px){
  .expense { 
      width: 100%;
  }
}